/* UploadImg.css */

.upload-img-container {
  width: 90%;
  max-width: 600px;
  margin: 250px auto; /* Center the container */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.upload-img-container h1 {
  font-size: 24px;
  color: #098e3e;
  font-weight: bolder;
  margin-bottom: 10px;
}

.upload-img-container h2 {
  font-size: 18px;
  color: #187db8;
  margin-bottom: 20px;
  font-weight: 400;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Space between input and button */
}

.upload-form input[type="file"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: border 0.3s ease;
}

.upload-form input[type="file"]:hover {
  border-color: #4caf50;
}

.upload-img-container button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  background-color: #5679ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.upload-img-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.upload-img-container button:hover:not(:disabled) {
  background-color: #45a049;
  transform: translateY(-2px);
}

.result {
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  color: #333;
  padding: 10px;
  background-color: #e8f5e9;
  border-radius: 8px;
  display: inline-block;
}

.congratulations-message {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #1b5e20;
  background-color: #c8e6c9;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}
